{%extends "basenew.html"%}

{%block start%}

<form method = "post" enctype="multipart/form-data" class="col-6 mx-auto card p-3 shadow-lg ">
    {% csrf_token %}
    <div class="mb-5" >
      <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
      <input type="text" name="recipe_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Add the Receipe Name here</div>
    </div>
    <div class="mb-4">
      <label for="exampleInputPassword1" class="form-label">Category</label>
      <input type="text" name="recipe_category" class="form-control" id="exampleInputPassword1">
    </div>
    {% comment %} <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> {% endcomment %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <form class="col-6 mx-auto card p-3 shadow-lg ">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Search</label>
      <input type="text" class="form-control" name="search">
      <div id="emailHelp" class="form-text">Search with food name</div>
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  {%endblock%}