{%extends "basenew.html"%}

{%block start%}

<form method = "post" enctype="multipart/form-data" class="col-6 mx-auto card p-3 shadow-lg ">
    {% csrf_token %}
    <div class="mb-5" >
      <label for="exampleInputEmail1" class="form-label">Student Name</label>
      <input type="text" name="student_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      {% comment %} <div id="emailHelp" class="form-text">Add the Receipe Name here</div> {% endcomment %}
    </div>
    <div class="mb-5" >
        <label for="exampleInputEmail1" class="form-label">Student Roll No</label>
        <input type="text" name="student_roll_no" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        {% comment %} <div id="emailHelp" class="form-text">Add the Receipe Name here</div> {% endcomment %}
    </div>
    <div class="mb-5" >
        <label for="exampleInputEmail1" class="form-label">Department</label>
        <input type="text" name="department" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        {% comment %} <div id="emailHelp" class="form-text">Add the Receipe Name here</div> {% endcomment %}
    </div>
    <div class="mb-5" >
        <label for="exampleInputEmail1" class="form-label">Subject</label>
        <input type="text" name="subject_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        {% comment %} <div id="emailHelp" class="form-text">Add the Receipe Name here</div> {% endcomment %}
    </div>
    <div class="mb-4">
      <label for="exampleInputPassword1" class="form-label">Marks</label>
      <input type="text" name="student_marks" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  

  {%endblock%}